.lpt-button {
  background-color: #635DFE !important;
  border-radius: 50px !important;
  text-transform: capitalize !important;
  font-size: 20px !important;

  :hover {
    background-color: #635DFE !important;
  }
}